extends ../layout

block content
    .main-pane
        .left-pane.col-xs-3.col-sm-3.col-md-3.col-lg-2
            br
            ul.nav.nav-pills.nav-stacked
                li(class="#{render.section === 'sensor-management' ? 'active' : ''}")
                    a(href='/users/sensor-management', title='Sensor Management')
                        h5
                            i.fa.fa-map-marker
                            span.hidden-xs
                                | &nbsp;Sensor Management
                li(class="#{render.section === 'sensor-controller' ? 'active' : ''}")
                    a(href='/users/sensor-controller', title='Sensor Controller')
                        h5
                            i.fa.fa-sliders
                            span.hidden-xs
                                | &nbsp;Sensor Controller
                li(class="#{render.section === 'sensor-monitor' ? 'active' : ''}")
                    a(href='/users/sensor-monitor', title='Sensor Monitoring')
                        h5
                            i.fa.fa-area-chart
                            span.hidden-xs
                                | &nbsp;Sensor Monitoring
                //- li(class="#{render.section === 'cost-management' ? 'active' : ''}")
                //-     a(href='/users/cost-management', title='Cost Management')
                //-         h5
                //-             i.fa.fa-tags
                //-             span.hidden-xs
                //-                 | &nbsp;Cost Management
                li
                    a#my-account(href='javascript:void(0);', title='My Account', data-email="#{render.session.email}", data-tenant="#{render.session.tenant}")
                        h5
                            i.fa.fa-user
                            span.hidden-xs
                                | &nbsp;My Account
                hr
                li
                    a(href='/logout')
                        h5
                            i.fa.fa-sign-out
                            span.hidden-xs
                                | &nbsp;Logout

        .right-pane.col-xs-9.col-sm-9.col-md-9.col-lg-10
            br
            block right_pane