extends _template

block right_pane
	.container-fluid
		- for (var i = 0; i < render.response.active_subscriptions.length; i++)
			- var sub = render.response.active_subscriptions[i];
			- var c = 'success';
			.col-lg-4.col-md-4.col-sm-6
				.panel(class="panel-#{c}", style='border-width: 2px;')
					.panel-heading
					.panel-body
						.row
							label.control-label.col-lg-6
								| Request ID
							.col-lg-6
								= sub.request_id
						.row
							label.control-label.col-lg-6
								| Template ID
							.col-lg-6
								= sub.template_id
						.row
							label.control-label.col-lg-6
								| Status
							.col-lg-6
								span.label(class="label-#{c}")
									= (c === 'success' ? 'Active' : 'Inactive')
						.row
							label.control-label.col-lg-6
								| Type
							.col-lg-6
								| Air flow
						br
						.row
							.container-fluid
								- var status = (c === 'danger' ? 'Enable' : 'Disable');
								button.control-sensor.btn.btn-default.btn-sm.pull-right.spacing(data-request-id="#{ sub.request_id }", data-action="#{ status }")
									i.fa.fa-power-off
										| &nbsp;
									= status
								button.terminate-sensor.btn.btn-default.btn-sm.pull-right.spacing(data-request-id="#{ sub.request_id }")
									i.fa.fa-trash
									| &nbsp;Terminate
								